<a href="https://colab.research.google.com/github/Mysterio-maker/STUDY-OF-SETS-AND-DICTIONARY-IN-PYTHON/blob/main/Study_of_sets_and_dictionaries_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 5
# Study of sets in python
# Amey Waghmare
# 25070123009
# A1

# SET Theory

##A set in Python is a collection of:

unique elements (no duplicates)

unordered items

mutable (you can add/remove elements)

It is based directly on mathematical set theory.

In [ ]:
# Creation of set

thisset= {"Ferrari","Lamborghini","Bugatti"}
print(thisset)

{'Bugatti', 'Ferrari', 'Lamborghini'}

#Unordered

Unordered means:
 A set does not store elements in a fixed order
 You cannot access elements by index like set[0]
 The printing order may change

In [ ]:
# Duplicates not allowed

thisset= {"Ferrari","Lamborghini","Bugatti","Ferrari"}

print(thisset)

{'Bugatti', 'Ferrari', 'Lamborghini'}

In [ ]:
# true and ones are considered same

thisset={"Ferrari","Lamborghini","Bugatti",True,False,0,1}

print(thisset)

{False, True, 'Bugatti', 'Ferrari', 'Lamborghini'}

In [ ]:
# with strings,integers and boolean alzebra

set1={"ferrari",7,True,18,"Lamborghini",False, 3+4j}
print(set1)

{False, True, 'ferrari', 18, 7, 'Lamborghini', (3+4j)}

In [ ]:
# search item in given set

thisset= {"Ferrari","Lamborghini","Bugatti"}

print("Lamborghini" in thisset)

True

In [ ]:
 thisset= {"Ferrari","Lamborghini","Bugatti"}

print("BMW")

BMW

In [ ]:
# once set created you cannot replace any item but you can add or remove

thisset= {"Ferrari","Lamborghini","Bugatti"}

thisset.add("BMW")

print(thisset)

{'BMW', 'Bugatti', 'Ferrari', 'Lamborghini'}

In [ ]:
thisset= {"Ferrari","Lamborghini","Bugatti"}

thisset.remove("Bugatti")

print(thisset)

{'Ferrari', 'Lamborghini'}

In [ ]:
# set operations

A = {"Ferrari", "Lamborghini", "Bugatti"}
B = {"BMW", "Ferrari", "Lamborghini"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A - B):", A - B)
print("Symmetric Difference:", A ^ B)

Union: {'Bugatti', 'BMW', 'Ferrari', 'Lamborghini'}
Intersection: {'Ferrari', 'Lamborghini'}
Difference (A - B): {'Bugatti'}
Symmetric Difference: {'BMW', 'Bugatti'}

# Python frozenset

A frozenset is a built-in data type in Python that represents an immutable set.

 Immutable means: once a frozenset is created, its elements cannot be changed.

 Definition:-

A frozenset is an unchangeable (immutable) collection of unique elements in Python.

In [ ]:
3 # frozenset

x= frozenset({"Ferrari","Lamborghini","Bugatti"})
print(x)
print(type(x))

frozenset({'Bugatti', 'Ferrari', 'Lamborghini'})
<class 'frozenset'>

In [ ]:
# add and remove

x= frozenset({"Ferrari","Lamborghini","Bugatti"})
x.add("BMW")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
x= frozenset({"Ferrari","Lamborghini","Bugatti"})
x.remove("Ferrari")

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
# set opeations using frozenset

A = frozenset({"Ferrari", "Lamborghini", "Bugatti"})
B = frozenset({"BMW", "Ferrari", "Lamborghini"})

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A - B):", A - B)
print("Symmetric Difference:", A ^ B)

Union: frozenset({'Bugatti', 'BMW', 'Ferrari', 'Lamborghini'})
Intersection: frozenset({'Ferrari', 'Lamborghini'})
Difference (A - B): frozenset({'Bugatti'})
Symmetric Difference: frozenset({'BMW', 'Bugatti'})

In [ ]:
# Problem Statement1 - Unique event participation

thisset= {"Amey","Mahendra","Virat","Smith","Amey"}

print(thisset)

{'Mahendra', 'Amey', 'Virat', 'Smith'}

In [ ]:
# Problem statement 2- 3 students choose elective subjects
student1 = {"AI", "ML", "Python"}
student2 = {"Python", "Cyber Security", "Maths"}
student3 = {"AI", "Robotics", "Python"}

print("Union:", student1 | student2 | student3)
print("Intersection:", student1 & student2 & student3)

Union: {'ML', 'Maths', 'Robotics', 'Python', 'AI', 'Cyber Security'}
Intersection: {'Python'}

In [ ]:
# Problem statement 3: one set

cricket = {"Virat", "Mahendra", "Smith"}
football = {"Virat", "Sunil", "Ronaldo"}

print("Union:", cricket | football)
print("Intersection:", cricket & football)
print("Difference (cricket - football):", cricket - football)
print("Symmetric Difference:", cricket ^ football)

Union: {'Ronaldo', 'Sunil', 'Smith', 'Mahendra', 'Virat'}
Intersection: {'Virat'}
Difference (cricket - football): {'Mahendra', 'Smith'}
Symmetric Difference: {'Ronaldo', 'Smith', 'Mahendra', 'Sunil'}

In [ ]:
# problem statement - 4 = Absent students

students= {"Amey","Mahendra","Virat","Smith"}
present= {"Amey","Virat"}
absent= students-present
print(absent)

{'Mahendra', 'Smith'}

In [ ]:
#problem statement 5- Remove invalid entries

thisset={"Python","IOT","Wave Propagation","Signals and System","Engineering Physics"}
thisset.remove("Engineering Physics")
print(thisset)

{'Signals and System', 'Wave Propagation', 'IOT', 'Python'}

# Dictionary in python

In [ ]:
#Creation of dictionary

thisdict={
    "brand":"BMW",
    "model":"M series",
    "year":2000
}
print(thisdict)

{'brand': 'BMW', 'model': 'M series', 'year': 2000}

In [ ]:
# Dictionary takes latest value for given data it overlaps the previous one

thisdict={
    "brand":"BMW",
    "model":"M series",
    "year":2000,
    "year":2005
}
print(thisdict)

{'brand': 'BMW', 'model': 'M series', 'year': 2005}

In [ ]:
# Length of dictionary

thisdict={
    "brand":"BMW",
    "model":"M series",
    "year":2000
}

print(len(thisdict))

3

In [ ]:
# Class of given dictionary

thisdict={
    "brand":"BMW",
    "model":"M series",
    "year":2000
}
print(type(thisdict))

<class 'dict'>

In [ ]:
# Changing or adding value in dictionary

car={
    "brand":"BMW",
    "model":"M series",
    "year":2000
}
car["color"]="Black"
x=car.values()
print(x) # after the change

dict_values(['BMW', 'M series', 2000, 'Black'])

In [ ]:
# extracting information in dictionary

name = {
    "name": "amey",
    "year": "first",
    "PRN": "25070123009"
}

print(name["name"])

In [17]:
student = {
    "name": "amey",
    "year": "first",
    "PRN": "25070123009"
}

print(student["name"])

student["year"] = "second"
student["name"] = "Amey"

print(student)

amey
{'name': 'Amey', 'year': 'second', 'PRN': '25070123009'}

In [ ]:
# Removing element

name = {
    "name": "amey",
    "year": "first",
    "PRN": "25070123009"
}

print(name["name"])

student.pop("year")
print("after removal:",student)

In [20]:
## Problem statement 1= a dictionary stores product name and their prices


products = {
    "Pen": 10,
    "Notebook": 50,
    "Pencil": 5,
    "Eraser": 3
}

print("original products:",products)

products["Eraser"]= 100

print("updated products:", products)

original products: {'Pen': 10, 'Notebook': 50, 'Pencil': 5, 'Eraser': 3}
updated products: {'Pen': 10, 'Notebook': 50, 'Pencil': 5, 'Eraser': 100}

In [22]:
#  Problem Statement-A dictionary stores student name and marks

marks={
    "A":85,
    "B":80,
    "C":70,
}
name=input("enter student name:")
print(marks.get(name,"student does not exist"))

enter student name:O
student does not exist

In [27]:
##Problem statement 3= A dictionary stores user names and passwords

user_id = {
    "A": "SRK@123",
    "B": "YO@123",
    "C": "HI@123"
}

uid = input("Enter user id: ")
password = input("Enter password: ")

if uid in user_id:

    if user_id[uid] == password:

        print("BINGO")
    else:
        print("PLEASE TRY AGAIN ")
else:
    print("User does not exist")

Enter user id: A
Enter password: 1234
PLEASE TRY AGAIN

In [34]:
# Problem statement 4 = A dictionay used to store student marks and display maximum

student_marks = {
    "A": 70,
    "B": 65,
    "C": 75,
}

max_marks = max(student_marks.values())


topper = max(student_marks, key=student_marks.get)

print("Topper:", topper)
print("Maximum marks:", max_marks)

Topper: C
Maximum marks: 75